.home {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .bg-top-bar {
    width: 100%;
    height: 256px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .scan-btn {
    width: 47px;
  }

  // 个人信息--
  .mine-user {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 18px;
    margin-top: 16px;
    position: relative;
    z-index: 1;
    flex: none;
    .user-head-portrait {
      .head-portrait {
        width: 60px;
        height: 60px;
        margin-right: 10px;
      }
    }
    .user-info {
      padding-bottom: 6px;
      .user-login-status {
        display: flex;
        font-weight: bold;
        color: #180d41;
        font-size: 18px;
        padding-bottom: 5px;
        align-items: center;
        line-height: 1;
        .icon-arrow {
          margin-left: 2px;
          width: 9px;
          height: 9px;
          transform: rotate(45deg);
          border-right: 2px solid #180d41;
          border-top: 2px solid #180d41;
        }
      }
      .user-bind-status {
        display: flex;
        font-size: 14px;
        color: #524d63;
        align-items: center;
        .bind-tag {
          padding: 1px 5px;
          display: flex;
          margin-right: 6px;
          align-items: center;
          &.bind-tag-unbind {
            color: #ff4a4a;
          }
        }
        .icon-bind {
          font-size: 12px;
          margin-right: 2px;
        }
      }
    }
  }

  .mine-vip {
    position: relative;
    width: 100%;
    margin-top: 13px;
    padding: 0 15px;
    flex: none;
    height: 84px;

    .gold-button {
      border-radius: 6px;
      background: linear-gradient(90deg, #ffe5c7 0%, #f9bd82 100%);
      font-size: 14px;
      font-weight: bold;
      line-height: 14px;
      color: #472300;
      padding: 7px 8px;
      position: absolute;
      right: 28px;
      top: 32px;
    }
    .vip-card-text {
      position: absolute;
      left: 68px;
      top: 20px;
      .vip-tips-title {
        color: #fff;
        font-size: 17px;
        font-weight: bold;
      }
      .vip-tips-sub-title {
        color: #fff;
        font-size: 13px;
      }
    }
    .mine-vip-img {
      width: 100%;
      height: 84px;
    }
  }

  .mine-form-entrances {
    width: 100%;
    padding: 0 18px;
    z-index: 1;
    position: relative;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex: 1;

    .mv-form-item {
      height: 55px;
      padding: 0 8px;
    }
    .icon-entrance {
      height: 18px;
      width: 18px;
      margin-right: 14px;
    }
    .icon-coins {
      width: 24px;
      height: 24px;
      margin-right: 4px;
    }
    .label-entrance {
      font-weight: normal;
      color: $title-color;
      font-size: 16px;
    }
    .content-right {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .text-desc {
        height: 24px;
        line-height: 25px;
        color: $title-color3;
        margin-right: 5px;
      }
    }
  }

  /** 春节主题 **/
  &.spring {
    .vip-tips-title {
      color: #fff3c7 !important;
    }
    .vip-tips-sub-title {
      color: #fff3c7 !important;
      padding-top: 3px !important;
    }
    .gold-button {
      color: #bf2e2d !important;
      background: linear-gradient(90deg, #ffe5a2 0%, #ffb45b 100%) !important;
      border: 0.5px solid #feffb6 !important;
    }
  }
}
