.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding-bottom: 52px;
  .home-header {
    width: 100%;
    height: 196px;
    background: linear-gradient(39deg, #e8e4ff 16%, #ffe0e5 85%);
  }

  .home-baby-info {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 var(--mv-padding-w);

    .baby-info-avatar {
      width: 55px;
      height: 55px;
      object-fit: cover;
      border-radius: 50%;
      margin-right: 8px;
      flex: none;
      border: 1px solid rgba(255, 255, 255, 0.8);
    }
    .baby-info-content {
      display: flex;
      flex-direction: column;

      .info-name {
        font-size: var(--mv-font-size-3);
        font-weight: bold;
      }
      .info-time {
        font-size: var(--mv-font-size-2);
        color: var(--mv-title-color3);
        margin-top: 8px;
      }
    }
  }

  .home-tools {
    width: 100%;
    height: 122px;
    padding: 13px var(--mv-padding-w);
    display: flex;
    justify-content: space-between;
    flex: none;
    position: relative;
    margin-top: -24px;
    background: #ffffff;
    border-radius: 16px 16px 0px 0px;
    .home-tools-card {
      width: 106px;
      height: 92px;
      flex: none;
      display: flex;
      flex-direction: column;
      border-radius: 12px;
      justify-content: space-between;
      padding: 10px 8px;
      position: relative;
      .card-title {
        font-size: var(--mv-font-size-2);
        color: #ffffff;
        font-weight: bold;
      }
      .card-content {
        font-size: var(--mv-font-size-2);
        color: #ffffff;
        position: relative;
        z-index: 2;
      }
      .card-time {
        font-size: var(--mv-font-size-1);
        color: #ffffff;
      }
      .card-bg-image {
        position: absolute;
        right: 5px;
        bottom: 10px;
        max-width: 35px;
        max-height: 35px;
        z-index: 0;
      }
    }
    .tools-card-10 {
      background: linear-gradient(127deg, #fd72b5 0%, #fe96c9 72%);
      box-shadow:
        0px 4px 8px 0px rgba(254, 146, 198, 0.62),
        inset 0px 4px 4px 0px rgba(255, 255, 255, 0.25);
    }

    .tools-card-30 {
      background: linear-gradient(134deg, #9492fc 0%, #c4caff 90%);
      box-shadow:
        0px 4px 8px 0px rgba(161, 161, 253, 0.63),
        inset 0px 4px 4px 0px rgba(255, 255, 255, 0.25);
    }
    .tools-card-40 {
      background: linear-gradient(134deg, #ffc118 47%, #ffda8b 99%);
      box-shadow:
        0px 4px 8px 0px rgba(255, 193, 25, 0.49),
        inset 0px 4px 4px 0px rgba(255, 255, 255, 0.25);
    }
  }

  .home-records {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    background: #ffffff;

    .home-records-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: var(--mv-font-size-2);
      height: 44px;
      padding: 0 var(--mv-padding-w);
      flex: none;

      .header-title {
        color: var(--mv-title-color2);
        font-weight: bold;
      }
      .header-more {
        color: var(--mv-title-color3);
      }
    }
    .home-records-wrapper {
      width: 100%;
      flex: 1;
      overflow-y: auto;
    }
    .home-records-scroll {
      width: 100%;
      display: flex;
      flex-direction: column;
      --mv-item-time-color: #ff9aaa;
      --mv-item-title-color: #f97e92;
      --mv-item-logo-bg: #fff3f3;

      .content-number {
        font-family: DIN;
        font-size: 13px;
      }

      .home-records-summary {
        display: flex;
        flex-direction: column;
        position: relative;
        flex: none;
        margin: 0 var(--mv-padding-w);

        &:first-child {
          margin-top: 8px;
        }

        .records-summary-time {
          color: var(--mv-title-color2);
          font-size: var(--mv-font-size-2);
          font-weight: bold;
          margin-bottom: 8px;
          position: relative;
        }
        & + .home-records-item::before {
          top: 4px;
        }
      }

      .home-records-summary-wrapper {
        padding: 8px var(--mv-padding-w);
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: var(--mv-font-size-1);
        color: var(--mv-title-color3);
        margin-bottom: 8px;
        background: var(--mv-background-color);
        border-radius: 8px;

        .summary-item {
          margin-top: 4px;

          &:first-child {
            margin-top: 0;
          }
        }
      }

      .home-records-item {
        margin: 0 var(--mv-padding-w);
        padding-left: var(--mv-padding-w);
        flex: none;
        position: relative;

        .records-item-time {
          color: var(--mv-title-color3);
          font-size: var(--mv-font-size-1);
          margin-bottom: 8px;
          position: relative;

          &::before {
            content: '';
            position: absolute;
            top: 4px;
            left: -20px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: var(--mv-item-time-color);
          }
        }

        .home-records-item-wrapper {
          box-shadow: var(--mv-box-shadow);
          border-radius: 8px;
          padding: 12px 15px;
          margin-bottom: 22px;
          display: flex;
          align-items: center;

          .record-item-logo {
            width: 48px;
            height: 48px;
            background: var(--mv-item-logo-bg);
            border-radius: 50%;
            flex: none;
            margin-right: 8px;
            display: flex;
            justify-content: center;
            align-items: center;

            .item-logo-img {
              max-width: 32px;
              max-height: 32px;
            }
          }
          .records-item-title {
            font-size: var(--mv-font-size-2);
            color: var(--mv-item-title-color);
            font-weight: bold;
          }
          .records-item-content {
            color: var(--mv-title-color3);
            font-size: var(--mv-font-size-1);
            margin-top: 6px;
          }
          .content-diaper {
            display: flex;
            align-items: center;
            .diaper-color {
              width: 15px;
              height: 15px;
              border-radius: 50%;
              margin-left: 8px;
              flex: none;
            }
          }
        }

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: -22px;
          bottom: 22px;
          width: 1px;
          background-color: #e8e8e8;
        }
      }

      .records-item-10 {
        .content-volume {
          font-family: DIN;
          font-size: 14px;
        }
      }
      .records-item-20 {
        --mv-item-time-color: var(--mv-success-color);
        --mv-item-title-color: var(--mv-success-color);
        .records-item-content {
          display: flex;
        }
        .item-title-duration {
          font-size: var(--mv-font-size-1);
          color: var(--mv-title-color3);
          margin-left: 2px;
        }
      }
      .records-item-30 {
        --mv-item-time-color: #ffda8b;
        --mv-item-title-color: #ffc118;
        --mv-item-logo-bg: #fff3f3;
      }
      .records-item-40 {
        --mv-item-time-color: #c4caff;
        --mv-item-title-color: #9492fc;

        --mv-item-logo-bg: #fff3f3;
      }
    }
  }
}
