.family-manager {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .family-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--mv-padding-w);

    .family-list-item {
      width: 100%;
      height: 88px;
      background: #ffffff;
      border-radius: 16px;
      display: flex;
      align-items: center;
      margin-top: 12px;
      padding: 0 var(--mv-padding-w);

      .family-avatar {
        width: 64px;
        height: 64px;
        background: linear-gradient(326deg, #ffbcc0 0%, #ffcbdc 100%);
        border-radius: 50%;
        margin-right: 12px;
      }
      .family-info {
        display: flex;
        flex-direction: column;
        color: var(--mv-text-color);
        font-size: 12px;
        .family-name {
          font-weight: bold;
          font-size: 15px;
          color: #433a51;
          display: flex;
          align-items: center;
        }
        .tags {
          display: flex;
          align-items: center;
          margin: 4px 0;
        }
      }
    }
  }
}
