.sleep {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: linear-gradient(180deg, #e8e5fa 0%, #ffffff 100%);
  padding: 0 var(--mv-padding-w);

  .form-item-card {
    box-shadow: var(--mv-box-shadow);
    border-radius: 8px;
    margin: 12px var(--mv-padding-w 0);
    padding: 15px;

    &:last-child {
      margin-bottom: 12px;
      padding-bottom: 12px;
    }
    .form-item-type {
      align-items: baseline !important;
    }
    .form-item-quality {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .sleep-drag-content {
    width: 72px;
    height: 40px;
    background: #ffffff;
    box-shadow: 0px 0px 3px 0px rgba(255, 93, 158, 0.22);
    border-radius: 88px 0px 0px 88px;
    color: var(--mv-title-color3);
    border: 1px solid #e8e8e8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    font-weight: bold;
  }
}
