.baby-manager {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .baby-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--mv-padding-w);

    .baby-list-item {
      width: 100%;
      height: 80px;
      background: #ffffff;
      border-radius: 16px;
      display: flex;
      align-items: center;
      margin-top: 12px;
      padding: 0 var(--mv-padding-w);

      .baby-avatar {
        width: 56px;
        height: 56px;
        background: linear-gradient(326deg, #ffbcc0 0%, #ffcbdc 100%);
        border-radius: 50%;
        margin-right: 12px;
      }
      .baby-info {
        display: flex;
        flex-direction: column;

        .baby-name {
          font-weight: bold;
          font-size: 15px;
          color: #433a51;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
