.height-weight {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: linear-gradient( 180deg, #FFF8E5 0%, #F7F7F7 100%);
  border-radius: 0px 0px 0px 0px;
}
