.mine {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  // 个人信息--
  .mine-profile {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 18px;
    margin-top: 16px;
    position: relative;
    z-index: 1;
    flex: none;
    height: 140px;
    background-color: peachpuff;
  }
  .mine-list {
    width: 100%;
    padding: 0 18px;

    .mine-list-item {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .list-item-icon {
        margin-right: 4px;
      }
    }
  }
}
