@import './styles/reset.scss';
@import 'tailwindcss/base';
@import 'tailwindcss/utilities';

.mv-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mv-multi-ellipsis--l2 {
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-break: anywhere;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

.form-item-card {
  border-radius: 12px;
  background-color: white;
  margin-top: 10px;
  padding-left: 14px;
  padding-right: 14px;
}
