.uterine-contraction {
  width: 100%;
  height: 100%;
  display: flex;
  background: linear-gradient(180deg, #fbeffd 0%, #fdf2f7 85%, rgba(253, 242, 246, 0) 97%);
  flex-direction: column;

  .uterine-contraction-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    flex: none;

    .header-time {
      width: 148px;
      height: 148px;
      background: #f9b4f3;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 32px;
      color: #ffffff;
      font-weight: bold;
      border: 9px solid #f9b4f3;
      .header-bg {
        width: 166px;
        height: 166px;
        position: absolute;
      }
      .header-time-text {
        z-index: 88;
      }
    }

    .header-btn {
      margin-top: 22px;
    }
  }
  .uterine-contraction-records {
    flex: 1;
    overflow: hidden;
    background: #ffffff;

    .contraction-records-scroll {
      height: calc(100% - 42px);
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    .contraction-records-content {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .uterine-contraction-item {
      width: 100%;
      height: 42px;

      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 32px;
      color: #433a51;
      font-size: 14px;
      flex: none;

      .item-start-time {
        flex: 1;
        display: flex;
        align-items: center;
      }
      .item-time {
        flex: none;
        width: 88px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .item-title {
      background: #fafafa;
      color: #675d78;
    }
  }
}
