@font-face {
  font-family: "iconfont"; /* Project id 4854359 */
  src: url('iconfont.woff2?t=1749655321549') format('woff2'),
       url('iconfont.woff?t=1749655321549') format('woff'),
       url('iconfont.ttf?t=1749655321549') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mv-icon-down:before {
  content: "\e6e6";
}

.mv-icon-checked:before {
  content: "\e647";
}

.mv-icon-copy:before {
  content: "\e679";
}

.mv-icon-arrow:before {
  content: "\e66b";
}

.mv-icon-arrow-left:before {
  content: "\e704";
}

.mv-icon-cross:before {
  content: "\e859";
}

.mv-icon-home:before {
  content: "\e85b";
}

.mv-icon-export:before {
  content: "\e861";
}

.mv-icon-setting:before {
  content: "\e862";
}

.mv-icon-calendar:before {
  content: "\e863";
}

.mv-icon-close-o:before {
  content: "\e610";
}

