@import '../styles/hairline';
.mv-dialog {
  width: 300px;
  overflow: hidden;
  background-color: #fff;
  z-index: v-bind(zIndex);
  border-radius: 16px;

  &-header {
    width: 100%;
    font-size: 17px;
    min-height: 48px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--mv-title-color);
    font-weight: bold;
  }

  &-content {
    width: 100%;
    min-height: 95px;
    max-height: 62vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow-y: auto;
    padding: 0 15px;
  }

  &-footer {
    width: 100%;
    display: flex;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
    background-color: #fff;
    font-size: 17px;

    .dialog-btn-cancel {
      flex: 1;
      @extend %hairline--top;
    }
    .dialog-btn-confirm {
      flex: 1;
      color: var(--mv-primary-color);
      @extend %hairline--surround;
    }
  }
}

.mv-dialog-slide {
  &-center-enter-active,
  &-center-leave-active {
    transition-property: all;
    transition-timing-function: ease;
  }

  &-center-enter-from,
  &-center-leave-to {
    opacity: 0;
    scale: 0.8;
  }
}
