@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.mv-toast {
  --mv-toast-title-font-size: 16px;
  --mv-toast-text-font-size: var(--mv-font-size-2);
  --mv-toast-font-color: var(--mv-white);
  --mv-toast-inner-padding: 8px 10px;
  --mv-toast-inner-bg-color: rgba(0, 0, 0, 0.8);
  --mv-toast-inner-border-radius: 8px;
  --mv-toast-cover-bg-color: rgba(0, 0, 0, 0);

  position: fixed;
  left: 0;
  bottom: 150px;
  width: 100%;
  text-align: center;
  pointer-events: none;
  z-index: 9999;
  &-small {
    .mv-toast-inner {
      font-size: var(--mv-font-size-1);
    }
  }
  &-large {
    .mv-toast-inner {
      font-size: var(--mv-font-size-3);
    }
  }
  &-cover {
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    height: 100%;
    background: var(--mv-toast-cover-bg-color);
  }
  &-inner {
    display: inline-block;
    font-size: var(--mv-toast-text-font-size);
    min-width: 40%;
    max-width: 65%;
    text-align: center;
    padding: var(--mv-toast-inner-padding);
    word-break: break-all;
    background: var(--mv-toast-inner-bg-color);
    border-radius: var(--mv-toast-inner-border-radius);
    color: var(--mv-toast-font-color);
  }
  &-text {
    font-size: var(--mv-toast-text-font-size);
    &:empty {
      margin-bottom: -8px;
    }
  }
  &-title {
    font-size: var(--mv-toast-title-font-size);
    &:empty {
      margin-bottom: -8px;
    }
  }
  &-has-icon {
    .mv-toast-icon-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 8px;
    }
  }
  &-center {
    top: 50%;
    transform: translateY(-50%);
  }
  &-loading {
    .mv-toast-inner {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .mv-toast-icon-wrapper {
      animation: rotation 2s linear infinite;
    }
    .mv-toast-icon-no-animation {
      animation: none;
    }
  }
}

.toast-fade-enter-active {
  transition: opacity 0.3s;
}

.toast-fade-leave-active {
  transition: opacity 0.3s;
}

.toast-fade-enter-from,
.toast-fade-leave-to {
  opacity: 0;
}
