.ai-name {
  width: 100%;
  min-height: 100%;
  padding: 0 var(--mv-padding-w);

  .ai-name-form {
    width: 100%;

    .form-item-card {
      box-shadow: var(--mv-box-shadow);
      border-radius: 8px;
      margin: 12px var(--mv-padding-w 0);
      padding: 15px;

      &:last-child {
        margin-bottom: 12px;
        padding-bottom: 12px;
      }
    }
  }

  .ai-name-list {
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: var(--mv-box-shadow);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;

    .name-tag {
      width: 50px;
      font-size: 15px;
      font-weight: 500;
    }
  }
}
