.ai-name {
  width: 100%;
  min-height: 100%;
  padding: 0 var(--mv-padding-w);

  .ai-name-form {
    width: 100%;

    .form-item-card {
      box-shadow: var(--mv-box-shadow);
      border-radius: 8px;
      margin: 12px var(--mv-padding-w 0);
      padding: 15px;

      &:last-child {
        margin-bottom: 12px;
        padding-bottom: 12px;
      }
    }
  }
}
