@import '../styles/hairline';

:root {
  --mv-popup-close-icon-margin: 9px;
  --mv-popup-border-radius: 20px;
}

.mv-popup-slide {
  &-center-enter-active,
  &-center-leave-active {
    transition-property: opacity;
    transition-timing-function: ease;
  }

  &-center-enter-from,
  &-center-leave-to {
    opacity: 0;
  }

  &-top-enter-from,
  &-top-leave-active {
    transform: translate(0, -100%);
  }

  &-right-enter-from,
  &-right-leave-active {
    transform: translate(100%, 0);
  }

  &-bottom-enter-from,
  &-bottom-leave-active {
    transform: translate(0, 100%);
  }

  &-left-enter-from,
  &-left-leave-active {
    transform: translate(-100%, 0);
  }
}

.mv-popup--center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &.round {
    border-radius: var(--mv-popup-border-radius);
  }
}

.mv-popup--bottom {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  &.round {
    border-radius: var(--mv-popup-border-radius) var(--mv-popup-border-radius) 0 0;
  }
}

.mv-popup--right {
  top: 0;
  right: 0;

  &.round {
    border-radius: var(--mv-popup-border-radius) 0 0 var(--mv-popup-border-radius);
  }
}

.mv-popup--left {
  top: 0;
  left: 0;

  &.round {
    border-radius: 0 var(--mv-popup-border-radius) var(--mv-popup-border-radius) 0;
  }
}

.mv-popup--top {
  top: 0;
  left: 0;
  width: 100%;

  &.round {
    border-radius: 0 0 var(--mv-popup-border-radius) var(--mv-popup-border-radius);
  }
}

.mv-popup {
  position: fixed;
  max-height: 100%;
  overflow-y: auto;
  background-color: var(--mv-white);
  -webkit-overflow-scrolling: touch;
  z-index: 3333;
  &__close-icon {
    position: absolute !important;
    z-index: 1;
    color: #868392;
    font-size: 19px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;

    &:active {
      opacity: 0.7;
    }

    &--top-left {
      top: var(--mv-popup-close-icon-margin);
      left: var(--mv-popup-close-icon-margin);
    }

    &--top-right {
      top: var(--mv-popup-close-icon-margin);
      right: var(--mv-popup-close-icon-margin);
    }

    &--bottom-left {
      bottom: var(--mv-popup-close-icon-margin);
      left: var(--mv-popup-close-icon-margin);
    }

    &--bottom-right {
      right: var(--mv-popup-close-icon-margin);
      bottom: var(--mv-popup-close-icon-margin);
    }
  }
  &-header {
    padding: 12px 16px;
    min-height: 48px;
    @extend %hairline--bottom;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__title {
      font-size: 17px;
      font-weight: bold;
    }
  }
}
