.breast-milk-feed {
  width: 100%;

  .form-item-card {
    box-shadow: var(--mv-box-shadow);
    border-radius: 8px;
    margin: 12px var(--mv-padding-w 0);
    padding: 15px;

    &:last-child {
      margin-bottom: 12px;
      padding-bottom: 12px;
    }
  }
  .breast-milk-player {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 8px 32px;

    .milk-player-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 110px;
      flex: none;

      .player-img {
        width: 104px;
        height: 104px;
        flex: none;
        margin: 20px 0;
      }
      .player-label {
        font-size: 15px;
        color: var(--mv-black);
      }
    }
    .milk-player-time {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      font-size: 40px;
      color: var(--mv-black);
    }
  }

  .breast-drag-content {
    width: 72px;
    height: 40px;
    background: #ffffff;
    box-shadow: 0px 0px 3px 0px rgba(255, 93, 158, 0.22);
    border-radius: 88px 0px 0px 88px;
    color: var(--mv-title-color3);
    border: 1px solid #e8e8e8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    font-weight: bold;
  }
}
